<%- include('../../../partialsTrab/sidebarTrab.ejs'); %>
    <main class="">
        <div class=" sgrid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-opacity-0 border-4 border-blach">
            <div id="carouselExampleCaptions" class="relative" data-te-carousel-init data-te-ride="carousel">


            </div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 my-6">
                                <!--Tabla lista de items   -->
                                <div class="space-x-8 mb-2">
                                  <a href="/CantTipoTrab/add" class="bg-blue-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer" >
                                    <i class="fa-solid fa-plus"></i> Nuevo
                                  </a>
                              </div>
                              
                            <!--Tabla lista de items   -->
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="w-full divide-y divide-gray-200 table-auto">
                                  <thead class=" text-white">
                                    <tr class="text-left text-xs font-bold  uppercase">
                                      <th scope="col" class="px-6 py-3">ID</th>
                                      <th scope="col" class="px-6 py-3">Nombre categoría</th>
                                      <th scope="col" class="px-10 py-3 text-right">Descripcion</th>
                                      <th scope="col" class="px-10 py-3 text-right">opciones</th>
                                    </tr>
                                  </thead>
                                  <tbody class="divide-y divide-gray-200 dark:text-gray-400">
                                    <% for(var i = 0; i< data.length; i++) { %>
                                    <tr class="text-sm font-medium text-gray-900">
                                      <td class="px-6 py-4">
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-indigo-500 text-white">
                                          <%= data[i].idCATEGORIA_PRODUCTO %>
                                        </span>
                                      </td>
                                      <td class="px-12 py-4 text-white"><%= data[i].Nombre%></td>
                                      <td class="px-12 py-4 text-white"><%= data[i].Descripcion%></td>
                                      <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                        <a href="../CantTipoTrab/edit/<%=data[i].idCATEGORIA_PRODUCTO%>" class="mr-1 bg-green-600 text-white rounded px-2 py-2 hover:bg-green-400 text-xs">
                                            Editar
                                          </a>
                                        <a href="../CantTipoTrab/delete/<%=data[i].idCATEGORIA_PRODUCTO%>"  onclick="return confirm('Are You sure?')"  class="bg-red-600 text-white rounded px-2 py-2 hover:bg-red-400 text-xs">
                                            Eliminar
                                          </a>
                                      </td>

                            
                                      </td>
                                    </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                                <!-- if result is empty -->
                                <% if(!data.length) { %>
                                  <p class="text-center">No se encontraron categorias!</p>
                                <% } %>
        
                             
                                </div>

            </div>




    </main>
    </body>

    </html>