<%- include('../../../partials/sidebar.ejs'); %>
    <main class="">
        <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-opacity-0 border-4 border-blach">
            <div id="carouselExampleCaptions" class="relative" data-te-carousel-init data-te-ride="carousel">
                        <div class="grid grid-cols-1 mt-5 mb-2 ">
                            <div class="grid mt-0 mb-0 pb-4 px-7 rounded-2xl bg-opacity-0 border-4 border-blach">
                                <div class="text-center text-blue-700 font-bold text-lg mt-4">
                                    <h1>DETALLE DE SU COMPRA</h1>
                                </div>
                            </div>
                            <div class="grid mt-4 mb-0 pb-8 px-5 mx-0 rounded-3xl bg-opacity-0 border-4 border-blach">
                                <div class=" mt-2 pb-8 mx-0 px-0  bg-opacity-0 justify-center ">
                                    <a href="/carrito">
                                        <button class="bg-opacity-0 mt-2  hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 w-full border border-blue-500 hover:border-transparent rounded">
                                            Añadir al carrito
                                        </button>
                                        </a>
                                </div>
                                <div class="mt-1 pb-8 mx-0 px-0 mb-2 bg-opacity-0 text-white ">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <table class="w-full divide-y divide-gray-200 table-auto">
                                          <thead class="bg-opacity-0 mt-2  text-blue-700 font-semibold py-2 px-4 w-full border border-blue-500">
                                            <tr class="text-left text-xs font-bold  uppercase">
                                              <td scope="col" class="px-6 py-3">ID</td>
                                              <td scope="col" class="px-6 py-3">Nombre</td>
                                              <td scope="col" class="px-6 py-3 text-center">Cantidad</td>
                                              <td scope="col" class="px-6 py-3 text-center">Precio Unitario</td>
                                              <td scope="col" class="px-6 py-3 text-center">Sub_Total</td>
                                              <td scope="col" class="px-6 py-3 text-center">IGV</td>
                                              <td scope="col" class="px-6 py-3 text-center">TOTAL</td>
                    
                                            </tr>
                                          </thead>
                                          <tbody class="divide-y divide-gray-200 dark:text-gray-400">
                                            <% for(var i = 0; i< data.length; i++) { %>
                                            <tr class="text-sm font-medium text-gray-50">
                                              <td class="px-6 py-4">
                                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-indigo-500 text-white">
                                                    <%= data[i].id_DETALLE_VENTA%>
                                                </span>
                                              </td>
                                              <td class="px-12 py-4 dark:text-gray-400"><%= data[i].Nombre%></td>
                                              <td class="px-16 py-4 dark:text-gray-400"><%= data[i].Cantidad%></td>
                                              <td class="px-16 py-4 dark:text-gray-400"><%= data[i].Precio_unitario%></td>
                                              <td class="px-16 py-4 dark:text-gray-400"><%= data[i].Sub_total%></td>
                                              <td class="px-16 py-4 dark:text-gray-400"><%= data[i].IGV%></td>
                                              <td class="px-16 py-4 dark:text-gray-400"><%= data[i].TOTAL%></td>
                    
                                            </tr>
                                            <% } %>
                                          </tbody>
                                        </table>
                                        <!-- if result is empty -->
                                        <% if(!data.length) { %>
                                        <p class="text-center">No se encontraron Clientes</p>
                                        <% } %>
                    
                                    </div>
                                        <div class="flex justify-center mt-8 ">
                                            <div>
                                                
                                                <a href="/compras">
                                                <button class="bg-opacity-0 mt-2  hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 w-full border border-blue-500 hover:border-transparent rounded">
                                                    Comprar
                                                </button>
                                                </a>
                                        </div>
                                
                            </div>
                        </div>
            </div>
        </div>
    </main>
    </body>

    </html>